.md-typeset .admonition.purple-box {
    border-color: #6b1edf; /* 深紫色 */
    background-color: #ffffff; /* 浅紫色 */
}
.md-typeset .admonition.purple-box > .admonition-title {
    background-color: #ece5f5; /* 浅紫色的背景 */
}

.md-typeset .admonition.blue-box {
    border-color: #531ef2; /* 蓝紫色 */
    background-color: #dbe4f5; /* 浅紫色 */
}
.md-typeset .admonition.blue-box > .admonition-title {
    background-color: #f2f9fe; /* 蓝紫色的背景 */
}
body {
  background-color: #f8f1f9 !important;
}